$color-black:       #000000;
$color-grey-dark:   #212121;
$color-white:       #FFFFFF;
$color-pink:        #EAB7D2;
$color-yellow:      #F9D864;
$color-cyan:        #6EBFBA;

$bg-color: $color-white;
$text-color: $color-grey-dark;