// main.scss

// Imports
@import '../node_modules/normalize.css/normalize';

html {
  font-family: sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;
}

.color-violet {
  color: #9A14CC;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-12px {
  margin-bottom: 12px;
}

.mt-16px {
  margin-top: 16px;
}

.my-24px {
  margin-bottom: 24px;
  margin-top: 24px;
}

.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-8px {
  margin-top: 8px;
}

.py-24px {
  padding-bottom: 24px;
  padding-top: 24px;
}

.px-6px {
  padding-left: 6px;
  padding-right: 6px;
}

.text-normal {
  font-size: 1rem;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: 700;
}

.bg-color-lime {
  background-color: lime;
}

.height-64px {
  height: 64px;
}

.fill-violet {
  fill: #9A14CC;
}

///////////////

.item-container .item-container__item {
  &:nth-child(2n + 1) {
    background-color: #f5f5f5;
  }
  &:nth-child(2n) {
    background-color: #e0e0e0;
  }
}