<section>
  <footer class="py-8px px-20px bg-deepblue border-stylish color-lightestblue font-family-slab text-medium">
    <p class="py-8px">
      Am creat Samoș ca să ne fie mai ușor să urmărim artiștii mișto care fac chestii în Cluj.
    </p>
    <p class="py-8px">
      Ne-am gândit că, dacă tot scormonim net-ul, facebook-ul și scena de zvonistică locală după evenimente, ar fi frumos să facem o listă și s-o punem aici, ca s-o folosească și prietenii noștri.
    </p>
    <p class="py-8px">
      Evenimentele care apar aici au o cronologie care începe în ziua curentă și se întinde pe următoarele două săptămâni. Asta, ca să ai la îndemână doar ce-ți trebuie -- nimic în plus. Comod, nu?
    </p>
    <p class="py-8px">
      Lista evenimentelor e făcută în acord cu gusturile noastre rafinate.
    </p>
  </footer>
</section>
<script src="/js/main.js"></script>
