<section>
  <footer class="py-8px px-20px bg-deepblue border-stylish color-lightestblue font-family-slab text-medium">
    <p class="py-8px">
      We built this website to make it easier for our friends and similar people of discerning taste to find the artist performances we were interested in.
    </p>
    <p class="py-8px">
      As browsing through facebook event lists or festival websites with tens of performances was a time consuming activity for us, we thought it would be nice if we shared the results of our searches for the perfect artists with the rest of the people in Cluj.
    </p>
    <p class="py-8px">
      Thus, Samoș was born. Feel free to use it. Enjoy its simpleness and the events we picked for you!
    </p>
  </footer>
</section>
<script src="/js/main.js"></script>
