<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samoș: A curated list of events in Cluj</title>
  <meta name="description" content="This is an uncluttered, personally biased list of artist and performance-centered events happening in Cluj, handpicked by our friends, comrades and connoisseurs.">
  <link rel="stylesheet" href="/css/main.css">
</head>