<section>
  <footer class="py-8px px-20px bg-deepblue color-lightestblue font-family-slab text-medium">
    <h4 class="font-italic"><span class="font-style-normal">Samoș </span>Manifesto</h4>
    <p class="py-8px">
      We built this website to make it easier for our friends and similar people of discerning taste to find the artist performances we are interested in.
    </p>
    <p class="py-8px">
      As browsing through facebook event lists or festival websites with dozens of performances was a time consuming activity for us, we thought it would be nice if we shared the results of our searches for the perfect artists with the rest of the people in Cluj.
    </p>
    <p class="py-8px">
      Thus, Samoș was born. Feel free to use it. Enjoy its simpleness and the events we picked for you!
    </p>
    <p class="py-8px">
      --
    </p>
    <p class="py-8px">
      Got something for us? <br />
      <a class="color-lightestblue" href="mailto:contact@samos.ro?subject=Hi%2C%20Samo%C8%99!">contact@samos.ro</a>
    </p>
  </footer>
</section>
<script src="/js/main.js"></script>
