<!-- index.nunjucks -->
{% extends "default.html" %}
{% block content %}

<section class="item-container">
  {% for event in events %}
    <article class="py-24px px-6px item-container__item{%if loop.last%} border-stylish border-stylish--deepblue{%endif%} {% if event.canceled === 'TRUE' %}item-container--canceled-event{% endif %}">
      <header>
        <a class="flex no-underline" href="{{ event.eventUrl }}">
          <section class="badge">
            <div class="badge__day-number color-gray">{{ event.date | date("D")}}</div>
            <div class="badge__day-name color-gray">{{ event.date | date("ddd") }}</div>
            {% if event.canceled === 'TRUE' %}
            <div class="badge__canceled">CANCELED</div>
            {% endif %}
          </section>
          <section class="info-elem">
            <span class="{{'color-deepblue' if event.canceled !== 'TRUE' else 'color-gray'}}">{{ event.type }}</span>
            <h2 class="text-normal font-normal mb-12px">
              <span class="text-normal {{'color-orange-01 font-bold' if event.canceled !== 'TRUE' else 'color-gray font-normal'}}">{{ event.act }}</span>
            </h2>
            <div class="text-small">
              <span class="{{'color-deepblue' if event.canceled !== 'TRUE' else 'color-gray'}}">{{ event.venueName }}</span>
            </div>
          </section>
        </a>
      </header>
    </article>
  {% endfor %}
</section>

{% endblock %}
