<!-- index.nunjucks -->
{% extends "default.html" %}
{% block content %}

<section class="item-container">
  {% for event in events %}
  <article class="py-24px px-6px item-container__item">
    <header>      
      <section>
        <span class="font-bold">{{ event.type }}</span>
        <h2 class="text-normal font-normal">
          <a class="text-normal font-normal color-violet" href="{{ event.url }}">{{ event.act }}</a>
        </h2>
        <span>{{ event.date.dayName }}, {{ event.date.dayNumber }} - </span>
        <span>
          <span> la </span>
          <a class="color-violet" href="{{ event.venue.link }}">{{ event.venue.name }}</a>
        </span>
      </section>
    </header>
  </article>
  {% endfor %}
</section>

{% endblock %}
