<!-- index.nunjucks -->
{% extends "default.html" %}
{% block content %}

<section class="item-container">
  {% for event in events %}
  <article class="py-24px px-6px item-container__item">
    <header class="flex">
      <section class="date-elem">
        <div class="date-elem__day-number">{{ event.date.dayNumber }}</div>
        <div class="date-elem__day-name">{{ event.date.dayName }}</div>
      </section>   
      <section class="info-elem">
        <span class="font-bold color-deepblue">{{ event.type }}</span>
        <h2 class="text-normal font-normal mb-12px">
          <a class="text-normal font-normal color-orange-01 font-family-slab no-underline" href="{{ event.url }}">{{ event.act }}</a>
        </h2>
        <div class="text-small">
          <span>la </span>
          <a class="color-orange-01 no-underline" href="{{ event.venue.link }}">{{ event.venue.name }}</a>
        </div>
      </section>
    </header>
  </article>
  {% endfor %}
</section>

{% endblock %}
