<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1718457-10"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-1718457-10');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samoș: A curated list of events in Cluj</title>
  <meta name="description" content="This is an uncluttered, personally biased list of performance-centered events happening in Cluj, handpicked by our connoisseurs.">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <section class="">
    {% include "partials/site-header.html" %}

    {% block content %}{% endblock %}

    {% include "partials/site-footer.html" %}
  <section>
</body>
</html>
